<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <h4 class="page-title">Edit About App</h4>
        </div>
        <div class="col-md-11">
            <button [routerLink]="['/tabs/about']" class="btn btn-success">App About</button>
        </div>

    </div>

    <form name="formBook" #formBook="ngForm" (ngSubmit)="onAboutEditSubmit()">

        <div class="form-group">

            <label>App Name</label>
            <input type="text" class="form-control" [(ngModel)]="abouttitle" name="abouttitle">

        </div>

        <div class="form-group">
            <label>About Description</label>
            <input type="text" class="form-control" [(ngModel)]="aboutdesc" name="aboutdesc">
        </div>

        <div class="form-group">
            <label>App Version</label>
            <input type="text" class="form-control" [(ngModel)]="app_version" name="app_version">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" id="email" [(ngModel)]="email" class="form-control">
        </div>

        <div class="form-row">

            <div class="col">

                <div class="form-group">

                    <label>Facebook</label>

                    <input type="text" name="facebook" id="facebook" [(ngModel)]="facebook" class="form-control">

                </div>

            </div>

            <div class="col">

                <div class="form-group">

                    <label>WhatsApp</label>

                    <input type="text" name="whatsapp" id="whatsapp" [(ngModel)]="whatsapp" class="form-control">


                </div>

            </div>

        </div>

        <div class="form-row">

            <div class="col">

                <div class="form-group">
                    <label>Viber</label>
                    <input type="text" class="form-control" [(ngModel)]="viber" name="viber">
                </div>

            </div>

            <div class="col">

                <div class="form-group">
                    <label>TeleGram</label>
                    <input type="text" class="form-control" [(ngModel)]="telegram" name="telegram">
                </div>

            </div>

        </div>
        <div class="form-row">

            <div class="col">
                <div class="form-group">

                    <label>Youtube</label>
                    <input type="text" class="form-control" [(ngModel)]="youtube" name="youtube">

                </div>
            </div>

            <div class="col">
                <div class="form-group">

                    <label>Instagram</label>
                    <input type="text" class="form-control" [(ngModel)]="instagram" name="instagram">

                </div>
            </div>
        </div>

        <div class="form-row">
            <div class=" col">

                <div class="form-group">
                    <label>Phone Number 1</label>
                    <input type="tel" class="form-control" [(ngModel)]="phone1" name="phone1">
                </div>

            </div>


            <div class="col">

                <div class="form-group">
                    <label>Phone Number 2</label>
                    <input type="tel" class="form-control" [(ngModel)]="phone2" name="phone2">
                </div>

            </div>

        </div>

        <div class="form-group">

            <label>Address</label>
            <input type="text" class="form-control" [(ngModel)]="address" name="address">

        </div>

        <input type="submit" value="Submit" class="btn btn-success">

    </form>

</div>