<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <button class="btn btn-success" [routerLink]="['/tabs/users']">Users</button>
        </div>

    </div>
    <div class="card_register">
        <div class="card">
            <div class="card-body text-center">
                <form #formRegister="ngForm" (ngSubmit)="updateVendor()">
                    <h1 class="h3 mb-3 font-weight-normal">Edit User</h1>

                    <div class="form-group">
                        <input type="text" id="diplayName" name="displayName" class="form-control" placeholder="First Name" [(ngModel)]="displayName" required minlength="5">
                    </div>

                    <div class="form-group">

                        <ngx-select-dropdown (change)="selectionChanged($event)" name="ven_key" [(ngModel)]="ven_key" [config]="config" [options]="venDetails">
                        </ngx-select-dropdown>

                    </div>


                    <br>
                    <!-- <input #imageUser type="hidden" [value]="urlImage | async"> -->
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Edit User</button>

                </form>
            </div>
        </div>
    </div>
</div>