<div class="container-fluid">
    <div class="row">

        <div class="card">
            <div class="card-header">
                <div class="card-title">Send Notification</div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Your Notification Title</label>
                    <input type="text" class="form-control" name="title" [(ngModel)]="title">
                </div>
                <div class="form-group">
                    <label for="comment">Your Notification Text</label>
                    <textarea [(ngModel)]="notification" name="notification" class="form-control" id="comment" rows="5">

                        </textarea>
                </div>

            </div>
            <div class="card-action">
                <button class="btn btn-success" (click)="sendNotification();">Send</button>
                <button class="btn btn-danger">Cancel</button>
            </div>
        </div>

    </div>
</div>