<div class="container-fluid">
    <div class="card_register">
        <div class="card">
            <div class="card-body text-center">
                <form #formRegister="ngForm" (ngSubmit)="onAddUser()">
                    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                    <!-- <div class="alert alert-danger" role="alert" *ngIf="isError">
                        {{msgError}}
                    </div> -->

                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="email" required minlength="8" (ngModelChange)="checkEmailNo()">
                        <div *ngIf="emailError" class="alert alert-danger"> Email Already Taken</div>
                        <div *ngIf="!email" class="alert alert-danger">Please Enter Email</div>
                    </div>

                    <div class="form-group">
                        <input type="text" id="diplayName" name="displayName" class="form-control" placeholder="First Name" [(ngModel)]="displayName" required minlength="5">
                        <div *ngIf="!displayName" class="alert alert-danger"> Please Enter Name
                        </div>
                    </div>


                    <div class="form-group">
                        <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last Name" [(ngModel)]="lastName" required minlength="5">
                        <div *ngIf="!lastName" class="alert alert-danger"> Please Enter LastName
                        </div>
                    </div>

                    <!-- <div class="form-group">
            <input type="text" id="address" name="address" class="form-control" placeholder="Address"
              [(ngModel)]="address" required minlength="5">
          </div> -->

                    <!-- <div class="alert alert-danger" role="alert" *ngIf="address.touched && !address.valid">
            <div *ngIf="address.errors.required">Address is required</div>
            <div *ngIf="address.errors.minlength">Address must be at least 8 characters</div>
          </div> -->

                    <!-- <div class="form-group">
            <input type="text" id="cardnumber" name="cardnumber" class="form-control"
              placeholder="National Card ID No" [(ngModel)]="cardnumber" required minlength="5">
          </div> -->

                    <!-- <div class="alert alert-danger" role="alert" *ngIf="cardnumber.touched && !cardnumber.valid">
            <div *ngIf="cardnumber.errors.required">National ID is required</div>
            <div *ngIf="cardnumber.errors.minlength">National ID must be at least 8 characters</div>
          </div> -->


                    <!-- <div class="form-group">

            <select class="form-control" id="europeResult" name="europeResult" class="form-control"
              placeholder="Gender" [(ngModel)]="europeResult" required minlength="1">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>


          </div> -->

                    <!-- <div class="alert alert-danger" role="alert" *ngIf="europeResult.touched && !europeResult.valid">
            <div *ngIf="europeResult.errors.required">Gender is required</div>
            <div *ngIf="europeResult.errors.minlength">Gender must be at least 8 characters</div>
          </div> -->

                    <!-- <div class="form-group">

            <select class="form-control" id="nation" name="nation" class="form-control" placeholder="Country"
              [(ngModel)]="nation" required minlength="4">
              <option value="Austria">Austria</option>
              <option value="Germany">Germany</option>
              <option value="USA">USA</option>
              <option value="Iraq">Iraq</option>
              <option value="Japan">Japan</option>
            </select>


          </div>

          <div class="alert alert-danger" role="alert" *ngIf="nation.touched && !nation.valid">
            <div *ngIf="nation.errors.required">Country Name is required</div>
            <div *ngIf="nation.errors.minlength">Country name must be at least 8 characters</div>
          </div> -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="validationTooltipUsernamePrepend">+964</span>
                            </div>
                            <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone Number" [(ngModel)]="phone" required maxlength="12" (ngModelChange)="checkPhoneNo()">
                        </div>
                        <div *ngIf="phoneError" class="alert alert-danger"> Phone Number Already Taken
                        </div>
                        <div *ngIf="!phone" class="alert alert-danger"> Please Enter Phone
                        </div>
                    </div>




                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="password" required minlength="5" maxlength="10">
                        <div *ngIf="!password" class="alert alert-danger"> Please Enter Password
                        </div>
                    </div>

                    <hr>
                    <!-- <div class="form-group">
            <h5>Select image:</h5>
            <input type="file" accept=".png, .jpg" (change)="onUpload($event)">
          </div>
          <div class="progress">
            <div [style.visibility]="(uploadPercent == 0) ? 'hidden' : 'visible'"
              class="progress-bar progress-bar-striped bg-success" role="progressbar"
              [style.width]="(uploadPercent | async) +'%'">

            </div>
          </div> -->
                    <div class="form-group">

                        <select class="form-control" id="role" name="role" class="form-control" placeholder="Role" [(ngModel)]="role" (change)="onSelectVendor()" required minlength="4">
              <option value="VENDOR">VENDOR</option>
              <option value="BUYER">BUYER</option>
              <option value="ADMIN">ADMIN</option>
            </select>


                    </div>

                    <div *ngIf="isVendor" class="form-group">

                        <ngx-select-dropdown (change)="selectionChanged($event)" name="ven_key" [(ngModel)]="ven_key" [config]="config" [options]="venDeatails">
                        </ngx-select-dropdown>

                    </div>


                    <br>
                    <!-- <input #imageUser type="hidden" [value]="urlImage | async"> -->
                    <button [disabled]="phoneError || emailError || !email || !displayName || !lastName || !phone || !password" phoneError *ngIf="btnDisabled" type="submit" class="btn btn-lg btn-primary btn-block">Register</button>


                    <ng-template #btnDisabled>
                        <button type="submit" [disabled]="phoneError || !email || !displayName || !lastName || !phone || !password" class="btn btn-lg btn-secondary btn-block">Register</button>
                    </ng-template>

                    <!--
          <div class="form-group">
            <a routerLink="/user/login" class="form-control login-user">Do you have account?</a>
          </div>

          <div class="form-group">
            <button class="btn btn-block btn-social btn-facebook" (click)="onLoginFacebook()">
              <span class="fa fa-facebook"></span>
              FACEBOOK
            </button>
            <button class="btn btn-block btn-social btn-google" (click)="onLoginGoogle()">
              <span class="fa fa-google"></span>
              GOOGLE
            </button>
          </div>

          -->
                </form>
            </div>
        </div>
    </div>
</div>