<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h4 class="page-title">Edit District</h4>
        </div>
        <div class="col-md-10">
            <button class="btn btn-success" [routerLink]="['/tabs/districts']">Districts</button>
        </div>

    </div>
    <form (submit)="onDistrictEditSubmit()">
        <div class="form-group">
            <label>District Name</label>
            <input class="form-control" type="text" [(ngModel)]="districtName" name="districtName" required>
        </div>

        <div class="form-group">
            <label>Status</label>
            <select class="form-control" type="text" [(ngModel)]="status" name="status">
                <option value="active">Active</option>
                <option value="inactive">InActive</option>
            </select>
        </div>

        <div class=" form-group ">
            <label>City Name</label>
            <select class=" form-control" [(ngModel)]="city" name="city" id="city">
                <option *ngFor="let city of cities" [value]="city.$key">{{city.name}}</option>
            </select>
        </div>
        
        <input type="submit" value="submit" class="btn btn-success">
    </form>
    </div>