<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h4 class="page-title">Add Slider</h4>
        </div>
        <div class="col-md-10">
            <button class="btn btn-success" [routerLink]="['/tabs/sliders']">Sliders</button>
        </div>

    </div>

    <form name="formBook" #formBook="ngForm" (ngSubmit)="onSliderEditSubmit()">

        <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" [(ngModel)]="slider_name" name="slider_name" required>
        </div>

        <div class="form-group">
            <label>Sort</label>
            <input type="number" class=" form-control" name="sort" [(ngModel)]="sort">
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb px-0">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                data-target="#image-gallery">
                <img class="img-thumbnail"
                    [src]="!isImage ? firebase_url : this.inputImageUser.nativeElement.value"
                    alt="Slider Image">
            </a>
        </div>

        <div class="form-group">
            <input id="image" accept=".png, .jpg" type="file" (change)="onUpload($event)">
            <div class="progress">
                <div [style.visibility]="(uploadPercent) ? 'hidden' : 'visible'"
                    class="progress-bar progress-bar-striped bg-success" role="progressbar"
                    [style.width]="(uploadPercent | async) +'%'">
                </div>
            </div>
        </div>
        <input #imageUser type="hidden" [value]="urlImage | async">

        <div class="form-group">

            <label>Status</label>
            <select class="form-control" id="status" name="status" class="form-control" placeholder="status"
                [(ngModel)]="status" required minlength="4">
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select>


        </div>

        <div class="form-group">

            <label>Type</label>
            <select class="form-control" id="type" name="type" class="form-control" placeholder="type"
                [(ngModel)]="type" required minlength="4">
                <option value="main_slider">Main Slider</option>
                <option value="featured_slider">Featured Slider</option>
                <option *ngFor="let category of categories" [value]="category.$key">{{category.cat_name}} Slider
                </option>
            </select>


        </div>
        <input type="submit" value="submit" class="btn btn-success">

    </form>
</div>