<div class="main-header">
    <div class="logo-header">
        <a href="index.html" class="logo">
            MAXSTORE
        </a>
        <button (click)="toggleSidebar()" class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>


    </div>

    <nav class="navbar navbar-header navbar-expand-lg">

        <div class="container-fluid">



            <form class="navbar-left navbar-form nav-search mr-md-3" action="">
                <div class="input-group">
                    <input type="text" placeholder="Search ..." class="form-control" (keyup)="onSearch($event)">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-search search-icon"></i>
                        </span>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                <li *ngIf="orderList" class="nav-item dropdown hidden-caret">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="la la-bell"></i>
                        <span class="notification">{{orderList.length}}</span>
                    </a>
                    <ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
                        <li>
                            <div class="dropdown-title">You have {{orderList.length}} new orders today</div>
                        </li>
                        <li>
                            <div class="notif-center">
                                <a *ngFor="let order of orderList" [routerLink]="['/tabs/order-detail/'+order.$key]">
                                    <div class="notif-icon notif-success"> <i class="la la-comment"></i> </div>
                                    <div class="notif-content">
                                        <span class="block">
                                            Order {{order.$key}} - {{order.total}}
                                        </span>
                                        <span class="time">{{utility.getTimeDifference(order.createdAt)}}</span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <a class="see-all" [routerLink]="['/tabs/orders/']"> <strong>See all Orders</strong> <i class="la la-angle-right"></i> </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="assets/img/profile.jpg" alt="user-img" width="36" class="img-circle">
                        <span *ngIf="!isVendor">Administrator</span>
                        <span *ngIf="isVendor">Vendor</span>
                    </a>
                    <!-- <ul class="dropdown-menu dropdown-user">
                        <a class="dropdown-item" href="#"><i class="fa fa-power-off"></i> Logout</a>
                    </ul> -->
                    <!-- /.dropdown-user -->
                </li>
            </ul>
        </div>
    </nav>
</div>