<div class="wrapper" [ngClass]="{'nav_open' : toggled}">
    <app-top-header></app-top-header>
    <app-sidebar></app-sidebar>
    <div class="main-panel">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>


</div>