.order-header-cell{
    height: 85px; line-height: 25px; padding-top: 12px; font-size: 16px; font-weight: bolder; text-align:  center;
}

.item-img{
    width: 50px; height: 50px; border-radius: 100px; object-fit: cover;
}