<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="assets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        <span *ngIf="!isVendor" class="user-level">Admin</span>
                    <span *ngIf="isVendor" class="user-level">Vendor</span>
                    <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a [routerLink]="['settings']">
                                <span class="link-collapse">Settings</span>
                            </a>
                        </li>
                        <li *ngIf="!isVendor">
                            <a [routerLink]="['register']">
                                <span class="link-collapse">Register User</span>
                            </a>
                        </li>
                        <li *ngIf="!isVendor">
                            <a [routerLink]="['about']">
                                <span class="link-collapse">About App</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="onLogout()">
                                <span class="link-collapse">Logout</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">

            <list-item *ngFor="let item of items" [Item]="item"></list-item>

            <!-- <li class="nav-item active">
                <a [routerLink]="['dashboard']" routerLinkActive="active">
                    <i class="la la-dashboard"></i>
                    <p>Home</p>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['orders']" routerLinkActive="active">
                    <i class="la la-shopping-cart"></i>
                    <p>Orders</p>
                    <span class="badge badge-success">{{dashboardService.orderCount}}</span>
                </a>
            </li>
            <li *ngIf="!isVendor" class="nav-item">
                <a [routerLink]="['vendors']" routerLinkActive="active">
                    <i class="la la-building-o"></i>
                    <p>Vendors</p>
                    <span class="badge badge-count">{{dashboardService.vendorCount}}</span>
                </a>
            </li>
            <li *ngIf="!isVendor" class="nav-item">
                <a [routerLink]="['users']" routerLinkActive="active">
                    <i class="la la-user"></i>
                    <p>Users</p>
                    <span class="badge badge-count">{{dashboardService.userCount}}</span>
                </a>
            </li>
            <li *ngIf="!isVendor" class="nav-item">
                <a [routerLink]="['categories']" routerLinkActive="active">
                    <i class="la la-database"></i>
                    <p>Categories</p>
                    <span class="badge badge-count">{{dashboardService.categoriesCount}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['products']" routerLinkActive="active">
                    <i class="la la-dropbox"></i>
                    <p>Products</p>
                    <span class="badge badge-count">{{dashboardService.productCount}}</span>
                </a>
            </li>
            <li *ngIf="!isVendor" class="nav-item">
                <a [routerLink]="['zones']" routerLinkActive="active">
                    <i class="la la-map-marker"></i>
                    <p>Zones</p>
                </a>
            </li>
            <li *ngIf="!isVendor" class="nav-item">
                <a [routerLink]="['districts']" routerLinkActive="active">
                    <i class="la la-map-marker"></i>
                    <p>Districts</p>
                </a>
            </li>
            <li *ngIf="!isVendor" class="nav-item">
                <a [routerLink]="['sliders']" routerLinkActive="active">
                    <i class="la la-image"></i>
                    <p>Sliders</p>
                </a>
            </li>
            <li *ngIf="!isVendor" class="nav-item">
                <a [routerLink]="['notifications']" routerLinkActive="active">
                    <i class="la la-image"></i>
                    <p>Notification</p>
                </a>
            </li> -->
        </ul>
    </div>
</div>