<div *ngIf="!isLoading" class="container-fluid">
    <h4 class="page-title">Dashboard</h4>
    <div class="row">
        <div *ngIf="!isVendor" class="col-md-3">
            <div class="card card-stats card-warning">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-users"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Users</p>
                                <h4 class="card-title">{{dashboard.userCount}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!isVendor" class="col-md-3">
            <div class="card card-stats card-success">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-bar-chart"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Vendors</p>
                                <h4 class="card-title">{{dashboard.vendorCount}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-danger">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-newspaper-o"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Products</p>
                                <h4 class="card-title">{{dashboard.productCount}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-primary">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-check-circle"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Orders</p>
                                <h4 class="card-title">{{dashboard.orderCount}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div *ngIf="recentOrders" class="card">
            <div class="card-header ">
                <h4 class="card-title">Latest Orders</h4>
            </div>
            <div class="card-body">
                <table class="table table-responsive table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" (click)="setOrder('createdAt')">Date</th>
                            <th scope="col" (click)="setOrder('profile_name')">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">City</th>
                            <th scope="col">District</th>
                            <th scope="col">Notes</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col" (click)="setOrder('shipping')">Shipping</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">View</th>

                        </tr>
                    </thead>
                    <tbody *ngFor="let item of recentOrders | orderBy: order:reverse | filter: searchText : ['profile_name', 'contactNumber', 'address']; index as i ">
                        <tr>
                            <td>{{i + 1}}</td>
                            <td>{{item.createdAt | date}}</td>
                            <td>{{item.profile_name}}</td>
                            <td>{{item.contactNumber}}</td>
                            <td>{{getZoneName(item.zone)}}</td>
                            <td>{{getSubZoneName(item.subzone)}}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.total - item.shipping}}</td>
                            <td>{{item.shipping}}</td>
                            <td>{{item.total}}</td>
                            <td>{{item.status}}</td>
                            <td><button class="btn btn-primary" [routerLink]="'/tabs/order-detail/'+item.$key">View</button></td>


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>