<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h4 class="page-title">Add Category</h4>
        </div>
        <div class="col-md-10">
            <button class="btn btn-success" [routerLink]="['/tabs/categories']">Categories</button>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <form (submit)="onCategoryEditSubmit()">
                <div class="form-group">
                  <label>Title</label>
                  <input class="form-control" type="text" [(ngModel)]="cat_id" name="cat_id" required>
                </div>
                <div class="form-group">
                  <label>Category Name</label>
                  <input class="form-control" type="text" [(ngModel)]="cat_name" name="cat_name" required>
                </div>
                            
                <div class="form-group">
                  <label for="parcat">Parent Category</label>
                  <select type="text" class="form-control" [(ngModel)]="parent_category_id" name="parcat" id="parcat">
                    <option *ngFor="let category of parent_categories" [value]="category.$key">{{category.cat_name}}</option>
                  </select>
                </div>
              
                <div class="form-group">
                  <label for="status">Status</label>
                  <select name="status" id="status" [(ngModel)]="status" class="form-control" aria-placeholder="Status">
                    <option value="active">Active</option>
                    <option value="inactive">InActive</option>
                  </select>
              
                </div>
              
                <div class="form-group" *ngIf="!isImage">
              
                  <img style="width:25%;height:150px;" class="thumbnail" src="{{firebase_url}}">
              
              
                </div>
              
                <div class="form-group" *ngIf="isImage">
              
                  <img style="width:25%;height:150px;" class="thumbnail" src="{{this.inputImageUser.nativeElement.value}}">
              
              
                </div>
              
                <hr>
                <div class="form-group">
                  <h5>Select image:</h5>
                  <input type="file" accept=".png, .jpg" (change)="onUpload($event)">
                </div>
                <div class="progress">
                  <div [style.visibility]="(uploadPercent) ? 'hidden' : 'visible'"
                    class="progress-bar progress-bar-striped bg-success" role="progressbar"
                    [style.width]="(uploadPercent | async) +'%'">
              
                  </div>
                </div>
              
                <br>
                <input #imageUser type="hidden" [value]="urlImage | async">
              
              
                <input type="submit" value="Submit" class="btn btn-success">
              </form>
        </div>
    </div>


</div>
