<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h4 class="page-title float-left">Categories</h4>
            <button class="btn btn-success float-right" [routerLink]="['/tabs/add-category']">+ Add New</button>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header ">
                <h4 class="card-title">All Categories</h4>
            </div>
            <div class="card-body">
                <table class="table table-responsive table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Photo</th>
                            <th scope="col">Name</th>
                            <th scope="col">Parent</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created At</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of categories | orderBy: order:reverse ; index as i">
                            <td>{{i + 1}}</td>
                            <td><img [src]="item.firebase_url" style="width: 50px;
                                    height: 50px;
                                    border-radius: 100px;
                                    object-fit: cover;"></td>
                            <td>{{item.cat_name}}</td>
                            <td>{{getParentCategory(item)}}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        {{item.status}}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                        <a class="dropdown-item" (click)="updatecategoryStatus(item.$key, 'Active')">Active</a>
                                        <a class="dropdown-item" (click)="updatecategoryStatus(item.$key, 'InActive')"> InActive</a>
                                    </ul>
                                </div>
                            </td>
                            <td *ngIf="item?.created_at">{{item.created_at | date}}</td>
                            <td style="display: inline;">
                                <i [routerLink]="'/tabs/edit-category/'+item.$key" class="la la-edit" style="font-size: 25px; line-height: 70px;"></i>
                                <i (click)="deleteCategory(item.$key)" class="la la-times-circle-o" style="font-size: 25px; line-height: 70px;"></i>
                            </td>

                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>