<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h4 class="page-title">Zones</h4>
        </div>
        <div class="col-md-10">
            <button [routerLink]="['/tabs/add-zones']" class="btn btn-success">+ Add New</button>
        </div>

    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header ">
                <h4 class="card-title">All Zones</h4>
            </div>
            <div class="card-body">
                <table class="table table-responsive table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Shipping Fee</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of zones | orderBy: order:reverse  | filter: searchText : ['name']; index as i">
                            <td>{{i + 1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.shippingfee}}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                            {{item.status}}
                                        </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                        <a class="dropdown-item" (click)="updateCityStatus(item.$key, 'Active')">Active</a>
                                        <a class="dropdown-item" (click)="updateCityStatus(item.$key, 'InActive')"> InActive</a>
                                    </ul>
                                </div>
                            </td>
                            <td>{{item.created_at ? (item?.created_at | date) : (currentDate | date) }}</td>
                            <td style="display: inline-table;">
                                <i [routerLink]="['/tabs/edit-zone/'+item.$key]" class="la la-edit" style="    font-size: 25px;
                                    line-height: 70px;"></i>
                                <i (click)="deleteZone(item.$key)" class="la la-times-circle-o" style="    font-size: 25px;
                                    line-height: 70px;"></i>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>