<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h4 class="page-title">Add Slider</h4>
        </div>
        <div class="col-md-10">
            <button class="btn btn-success" [routerLink]="['/tabs/sliders']">Sliders</button>
        </div>

    </div>

    <form (ngSubmit)="onSliderAddSubmit()">

        <div class="form-group">
          <label>Name</label>
          <input class="form-control" type="text" [(ngModel)]="slider_name" name="slider_name" required>
        </div>
  
        <div class="form-group">
          <label>Slider Image</label>
          <input class="form-control-file" id="image" accept=".png, .jpg" name="image" [(ngModel)]="image" type="file">
        </div>
  
        <div class="form-group">
          <label>Sort</label>
          <input type="number" class=" form-control" name="sort" [(ngModel)]="sort">
        </div>
  
        <div class="form-group">
  
          <label>Status</label>
          <select class="form-control" id="status" name="status" class="form-control" placeholder="status"
            [(ngModel)]="status" required minlength="4">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
  
  
        </div>
  
        <div class="form-group">
  
          <label>Type</label>
          <select class="form-control" id="type" name="type" class="form-control" placeholder="type" [(ngModel)]="type"
            required minlength="4">
            <option value="main_slider">Main Slider</option>
            <option value="featured_slider">Featured Slider</option>
            <option *ngFor="let category of categories" [value]="category.$key">{{category.cat_name}} Slider</option>
          </select>
  
  
        </div>
        <input type="submit" value="submit" class="btn btn-success">
  
      </form>
</div>