<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h4 class="page-title">Edit Product</h4>
        </div>
        <div class="col-md-10">
            <button class="btn btn-success" [routerLink]="['/tabs/products']">Products</button>
        </div>

    </div>

    <!-- <form> -->

    <div class="m-2">
        <h5>Gallery Images </h5>
    </div>


    <!--Gallery Images-->

    <div class="row scrollmenu" *ngIf="files?.length != 0">
        <div class="eachitem col s3 m3 image-item" *ngFor="let url of files;index as i">
            <i (click)="justDelete(i)" class="icon-close la la-minus"></i>
            <img class="obj-image" [src]="url.link ? url.link : url.firebase_url">
        </div>
        <div class="eachitem col s4 m4 plus-add-image-block" *ngIf="files?.length < 5" (click)="openImageUpload()">
            <i class="la la-plus" aria-hidden="true"></i>
        </div>
    </div>

    <div class="row" *ngIf="files?.length == 0">
        <div class="col s12 m12 large-add-image-block" (click)="openImageUpload()">
            <p><i class="la la-file-image-o"></i>Add Photos</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12" style="margin-left: 22px;
            margin-right: 22px;">
            <p>Photos {{files.length}} / 5 - You can upload up to 5 photos </p>
        </div>
    </div>


    <input class="form-control-file" id="images" #imageupload multiple name="images" type="file"
        accept="image/x-png,image/gif,image/jpeg" (change)="imagesSelected($event)" hidden>

    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" [(ngModel)]="name" name="name" required>
    </div>

    <div class="form-group">

        <label>Sort</label>
        <input class="form-control" type="number" name="sort" [(ngModel)]="sort" required>

    </div>

    <div class="form-row">

        <div class="col">
            <div class="form-group">

                <label>Category</label>
                <select class="form-control" type="text" [(ngModel)]="categories" name="categories" required
                    (change)="setParentCategory(categories)">
                    <option *ngFor="let category of categoryList" [value]="category.$key">{{category.cat_name}}
                    </option>
                </select>
            </div>

        </div>

        <div class="col">

            <div class="form-group">
                <label>Sub Category</label>
                <select class="form-control" type="text" [(ngModel)]="sub_category" name="sub_category">
                    <option *ngFor="let category of sub_categoryList" [value]="category.$key">{{category.cat_name}}
                    </option>
                </select>
            </div>

        </div>

    </div>



    <div *ngIf="!isVendor" class="form-group">

        <label>Vendor</label>
        <ngx-select-dropdown (change)="selectionChanged($event)" name="ven_key" [(ngModel)]="vendor" [config]="config"
            [options]="vendorList">
        </ngx-select-dropdown>

    </div>

    <div class="form-group">
        <label>Description</label>
        <input class="form-control" type="text" [(ngModel)]="description" name="description" required>
    </div>

    <div class="form-group">
        <label>Availability</label>
        <select class="form-control" [(ngModel)]="available" name="available" required>
            <option value="true">Available</option>
            <option value="false">Not Available</option>
        </select>
    </div>

    <div *ngIf="!isVendor" class="form-group">
        <label>Featured</label>
        <select class="form-control" [(ngModel)]="feature" name="feature" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>

    <div *ngIf="!isVendor" class="form-group">
        <label>New Arrival</label>
        <select class="form-control" [(ngModel)]="new_arrival" name="new_arrival" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    <!---
        <div class="form-group">
          <input id="image" name="image" [(ngModel)]="image" type="file" >
        </div>
        -->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Price</label>
                <input class="form-control" type="text" [(ngModel)]="price" name="price" required>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label>Stock</label>
                <input class="form-control" type="text" [(ngModel)]="stock" name="stock" required>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label>Sale Price</label>
                <input class="form-control" type="text" [(ngModel)]="saleprice" name="saleprice" required>
            </div>
        </div>

    </div>

    <div class="form-row">

        <div class="col-11">
            <div class="form-group">
                <label>Colour</label>
                <input class="form-control" type="text" name="color" [(ngModel)]="color"
                    (keyup.enter)="addColor(color)">
            </div>
        </div>

        <div class="col-1">
            <a class="left" (click)="addColor(color)"><i class="add la la-plus"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <span class="show-colors" *ngFor="let color of colors;let i = index">
                <i (click)="removeColor(i)" class="remove la la-minus"></i>
                {{color}} ,
            </span>
        </div>
    </div>

    <div class="form-row">

        <div class="col-6">
            <div class="form-group">
                <label>Sizes</label>
                <input class="form-control" type="text" name="color" [(ngModel)]="size">
            </div>
        </div>

        <div class="col-5">
            <div class="form-group">
                <label>Size Price</label>
                <input class="form-control" type="number" name="size" [(ngModel)]="size_price"
                    (keyup.enter)="addSize(size)">
            </div>
        </div>

        <div class="col-1">
            <a class="left" (click)="addSize(size)"><i class="add la la-plus"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <span class="show-colors" *ngFor="let size of sizes;let i = index">
                <i (click)="removeSize(i)" class="remove la la-minus"></i>
                {{size['size'] ? size['size'] : size }} : {{size['price'] ? size['price'] : ""}},
            </span>
        </div>
    </div>

    <div class="form-row">

        <div class="col-11">
            <div class="form-group">
                <label>Device</label>
                <input class="form-control" type="text" name="color" [(ngModel)]="device"
                    (keyup.enter)="addDevice(device)">
            </div>
        </div>

        <div class="col-1">
            <a class="left" (click)="addDevice(device)"><i class="add la la-plus"></i></a>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <span class="show-colors" *ngFor="let device of devices;let i = index">
                <i (click)="removeDevice(i)" class="remove la la-minus"></i>
                {{device}} ,
            </span>
        </div>
    </div>

    <!--Image-->
    <div class="form-group" *ngIf="!isImage">

        <img style="width:25%;height:150px;" class="thumbnail" src="{{image_firebase_url}}">


    </div>

    <div class="form-group" *ngIf="isImage">

        <img style="width:25%;height:150px;" class="thumbnail" src="{{this.inputImageUser.nativeElement.value}}">


    </div>

    <hr>
    <div class="form-group">
        <h5>Select image:</h5>
        <input type="file" accept=".png, .jpg" (change)="onUpload($event)">
    </div>
    <div class="progress">
        <div [style.visibility]="(uploadPercent) ? 'hidden' : 'visible'"
            class="progress-bar progress-bar-striped bg-success" role="progressbar"
            [style.width]="(uploadPercent | async) +'%'">

        </div>
    </div>
    <br>
    <input #imageUser type="hidden" [value]="urlImage | async">

    <button type="submit" value="Submit" class="btn btn-success" (click)="onItemEditSubmit()">Submit</button>

    <!-- </form> -->
</div>