.add {
    transform: translateY(40px);
}

.show-colors {
    font-size: 20px;
}

.remove {
    transform: translateY(-7px);
    font-size: 10px;
}


.large-add-image-block {
    border: 1px solid #dedcde;
    border-radius: 7px;
    display: table !important;
    height: 25vh;
    float: none;
    margin-left: 22px;
    margin-right: 22px;
    p {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        color: #525053;
    }
}

div .eachitem {
    display: inline-block !important;
    height: 25vh;
    float: none;
}

.image-item {
    position: relative;
    padding: 0 0.25rem;
    margin-left: 22px;
    margin-right: 22px;
    i.icon-close {
        position: absolute;
        color: white;
        margin: 5px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 25px;
        font-size: 1.4rem;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid #dedcde;
    }
}


.plus-add-image-block {
    border: 1px solid #dedcde;
    border-radius: 7px;
    padding: 0 0.25rem;
    position: relative;
    i.fa-plus {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
    }
}