<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h4 class="page-title">Product Details</h4>
        </div>
        <div class="col-md-10">
            <button class="btn btn-success" [routerLink]="['/tabs/products']">Products</button>
        </div>

    </div>

    <div *ngIf="item">

        <h5>Product Gallery</h5>
        <div class="row " *ngIf="files?.length != 0">
            <div class="eachitem col s3 m3 m-3 image-item" *ngFor="let url of files;index as i">
                <img [src]="url.firebase_url">
            </div>
        </div>

        <div class="col col-6" style="text-align: left;">
            <h4 class="page-title">{{item.name}}</h4>
            <h6 *ngIf="!isVendor"><span style="opacity: 0.35;">Category:</span> {{getCategoryName(item?.categories)}}
            </h6>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img style="width:100%" class="thumbnail" src="{{item.image_firebase_url}}">
            </div>

            <div class="col-md-8">
                <ul class="list-group">
                    <li class="list-group-item">Description: {{item.description}}</li>
                    <li class="list-group-item">Sort: {{item.sort}}</li>
                    <li class="list-group-item">Image: {{item.image}}</li>
                    <li class="list-group-item">Price: {{item.price}}</li>
                    <li class="list-group-item">Sale Price: {{item.saleprice}}</li>
                    <li class="list-group-item">Percent : {{item.percent}} Off</li>
                    <li class="list-group-item">Stock: {{item.stock}}</li>
                    <li class="list-group-item">Available: {{item.available}}</li>
                    <li class="list-group-item">New Arrival: {{item.new_arrival}}</li>
                    <li class="list-group-item">Sort: {{item.sort}}</li>
                    <li class="list-group-item" *ngIf="!isVendor">Sub Category: {{getCategoryName(item.sub_category)}}
                    </li>
                    <li class="list-group-item" *ngIf="!isVendor">Vendor: {{getvendorName(item.vendor)}}</li>
                    <li class="list-group-item">Feature: {{item.feature}}</li>
                    <li class="list-group-item" *ngIf="!isVendor">Status: {{item.status}}</li>
                    <li class="list-group-item">Sizes: <span
                            *ngFor="let size of sizes">{{size['size'] ? size['size'] : size}}
                            :{{ size['price'] ? size['price'] : ""}} , </span></li>
                    <li class="list-group-item">Colors: <span *ngFor="let color of colors">{{color}} , </span></li>
                    <li class="list-group-item">Devices: <span *ngFor="let device of devices">{{device}} , </span></li>
                </ul>



            </div>

        </div>

        <h2>Product Reviews</h2>
        <div class="row" *ngIf="item.comments">
            <div *ngFor="let comment of item.comments | keyvalue" class="col-5 review-box">
                <div style="text-align: left;">
                    <h4 class="page-title">{{comment.value.user_name}}</h4>
                </div>
                <span>
                    <i *ngFor="let i of Arr(comment.value.rating).fill(1)" class="la la-star"></i>
                    <b>{{comment.value.rating}}</b>
                </span>
                <div style="text-align: right;">
                    <h6>{{comment.value?.createdAt | date}}</h6>
                </div>
                <p>{{comment.value.comment}}</p>
            </div>
        </div>

    </div>

</div>