.review-box {
    background-color: #ffffff;
    border-radius: 15px;
    margin: 10px 25px 15px 25px;

    h4 {
        margin: 5px 0px 5px 0px;
    }

    span {
        font-size: 22px;
        text-align: left;
        i {
            font-size: 22px;
        }
    }
}

div .eachitem {
    display: inline-block !important;
    height: 25vh;
    float: none;
}

.image-item {
    position: relative;
    padding: 0 0.25rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;
        border: 1px solid #dedcde;
    }
}
