<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h4 class="page-title">Add Category</h4>
        </div>
        <div class="col-md-10">
            <button class="btn btn-success" [routerLink]="['/tabs/categories']">Categories</button>
        </div>

    </div>

    <form (ngSubmit)="onCategoryAddSubmit()">

        <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" [(ngModel)]="cat_id" name="cat_id" required>
        </div>
        <div class="form-group">
            <label>Category Name</label>
            <input class="form-control" type="text" [(ngModel)]="cat_name" name="cat_name" required>
        </div>

        <div class="form-group">
            <label for="parcat">Parent Category</label>
            <select class="form-control" type="text" [(ngModel)]="parent_category_id" name="parcat" id="parcat">

                <option *ngFor="let category of parent_categories" [value]="category.$key">{{category.cat_name}}
                </option>

            </select>

        </div>

        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" name="status" id="status" placeholder="Status" [(ngModel)]="status">
                <option value="active">Active</option>
                <option value="inactive">InActive</option>
            </select>
        </div>

        <div class="form-group">

        </div>

        <div class="form-group">
            <input id="image" name="image" [(ngModel)]="image" type="file">
        </div>

        <input type="submit" value="Submit" class="btn btn-success">

    </form>

</div>
